@use '../../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: underline;
        padding-left: 1em;
        color: $dark1;
        font-family: $fontSans;
    }

    p {
        $page-padding: 4em;
        font-size: 1em;
        text-align: justify;
        text-justify: inter-word;
        padding-left: $page-padding;
        padding-right: $page-padding;
        color: $dark1;
        font-family: $fontSans;
    }

    ul {
        font-family: $fontText;

        li {
            font-size: 1em;
        }

        list-style-type: square;

        li:nth-child(odd) {
            color: $dark1;
        }

        li:nth-child(even) {
            color: $dark2;
        }
    }

    hr {
        border: 1px solid $dark1;
        margin: 1em 0;
    }
}