@use '../../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        list-style-type: none;
        svg {
            // desktop
            @media (min-width: $forDesktop) {
                width: 6rem;
                
            }
            width: 25vw;
            height: auto;
        }
    }
    .github{
        fill: $dark2;
    }
    .linkedin{
        fill: $dark2;
    }
}