@use '../../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3em;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
        text-decoration: underline;
        padding-left: 1em;
        color: $dark1;
        font-family: $fontMonoText;
    }

    p {
        font-size: 1rem;
        padding-left: 10%;
        padding-right: 2em;
        color: $dark2;
        font-family: $fontText;
        // desktop
        @media (min-width: $forDesktop) {
            font-size: 2rem;
        }
    }

    .bold {
        color: $dark2;
        font-family: $fontMonoText;
        font-size: 1.5em;
    }
}