@use '../base-colors.scss' as *;
.page{
    h1{
        font-size: 3.5rem;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
        color: $dark2;
    }
    .icon{
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
    }
}