@use '../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        list-style-type: none;

        img {
            // desktop
            @media (min-width: $forDesktop) {
                width: 6rem;
                
            }
            width: 25vw;
            height: auto;
        }
    }

}