@use '../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }

    .projetos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
        padding: 0;
    }

    .projeto {
        width: 80%;
        height: 30%;
        margin: 1%;
        background-color: $dark1;
        border-radius: 10px;
        box-shadow: 2px 2px 4px $dark1;
        min-width: 300px;

        // desktop
        @media (min-width: 1025px) {
            width: 10%;
        }

        &:hover {
            box-shadow: 2px 2px 4px $dark1;
            transform: scale(1.01);
            transition: transform 1s;
        }

        transition: transform 1s;

        a {
            text-decoration: none;
            color: $light3;
            font-family: $fontBarcode;
            font-size: 2em;
        }
    }

    .projetoImagem {
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }
    }

    .projetoInfo {
        h2 {
            font-family: $fontBold;
            font-weight: lighter;
            font-size: 3rem;

            // desktop
            @media (min-width: 1025px) {
                font-size: 2em;
            }
        }

        color: $light1;
        font-size: 2.5em;
        text-align: center;
        text-justify: inter-word;
        padding: 1em;
        font-family: $fontSans;
        // desktop
        @media (min-width: 1025px) {
            font-size: 1rem;
        }
    }

    .descricao {
        color: $light1;
        text-align: center;
        text-justify: inter-word;
        padding: 1em;
        font-family: $fontBarcode;
    }
}