@use '../base-colors.scss' as *;

.page {
    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }

    .projetos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding: 0;

    }

    .projeto {
        width: 40%;
        align-self: stretch;
        margin: 1rem auto;
        background-color: $dark1;
        border-radius: 10px;
        box-shadow: 2px 2px 4px $dark1;
        min-width: 300px;
        transition: transform 1s;

        // desktop
        @media (min-width: $forDesktop) {
            width: 10%;
        }
    }

    .projetoImagem {
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }
    }

    .projetoInfo {
        padding: 1em;
        color: $light1;
        font-size: 1.5em;
        text-align: center;
        text-justify: inter-word;
        font-family: $fontSans;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;

        // desktop
        @media (min-width: $forDesktop) {
            font-size: 1rem;
        }

        h2 {
            font-family: $fontBold;
            font-weight: lighter;
            font-size: 3rem;
            margin: 0 auto;
            // desktop
            @media (min-width: $forDesktop) {
                font-size: 2em;
            }

        }

        p{
            margin: 1em auto;
        }

        a {
            text-decoration: none;
            color: $light3;
            font-family: $fontBarcode;
            font-size: 3em;

        }

    }
}