@use '../base-colors.scss' as *;
.page{
    h1{
        font-size: 3.5rem;
        text-align: center;
        color: $dark2;
        font-family: $fontTitle;
    }
    .projetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
    .projeto{
        width: 25%;
        height: 30%;
        margin: 1%;
        background-color: $dark1;
        border-radius: 10px;
        box-shadow: 2px 2px 4px $dark1;
        min-width: 300px;
        &:hover{
            box-shadow: 2px 2px 4px $dark1;
            transform: scale(1.2);
            transition: transform 1s;
        }
        transition: transform 1s;
        a{
            text-decoration: none;
            color: $light3;
            font-family: $fontBarcode;
            font-size: 2em;
        }
    }
    .projetoImagem{
        img{
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }
    }
    
    .projetoInfo{
        h2{
            font-family: $fontBold;
            font-weight: lighter;
        }
        color: $light1;
        font-size: 1em;
        text-align: center;
        text-justify: inter-word;
        padding: 1em;
        font-family: $fontSans;
    }
    .descricao{
        color: $light1;
        font-size: 1em;
        text-align: center;
        text-justify: inter-word;
        padding: 1em;
        font-family: $fontBarcode;
    }
}