@use '../base-colors.scss' as *;
.page {
    h1 {
        font-size: 4em;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
        color: $dark2;
    }
    $page-padding: 4em;
    p {
        font-size: 1.5em;
        text-align: justify;
        text-justify: inter-word;
        padding-left: $page-padding;
        padding-right: $page-padding;
        color: $dark2;
    }

    // variable 
    $rotation: -10deg;

    img {
        float: left;
        width: 50%;
        max-width: 20em;
        height: auto;
        margin: 0 2rem;
        border-radius: 10px;

        &:hover {
            transform: rotateX($rotation*36);
            transition: transform 1s;
        }

        transition: transform 1s;
    }
}