@use '../base-colors.scss' as *;

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4em;
        text-align: center;
        text-shadow: 1px 1px 1px $dark1;
        color: $dark2;
        font-family: $fontTitle;
    }

    $page-padding: 4em;

    p {
        font-size: 2em;
        text-align: justify;
        text-justify: inter-word;
        padding-left: $page-padding;
        padding-right: $page-padding;
        color: $dark2;
        font-family: $fontText;
        // desktop
        @media (min-width: $forDesktop) {
            font-size: 2em;
    
        }
    }


    img {
        float: left;
        width: 50%;
        max-width: 30em;
        height: auto;
        margin: 0 2rem;
        border-radius: 10px;
        filter: grayscale(0%) contrast(1.5);
    }
}