@use '../base-colors.scss' as *;

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4em;
        text-align: center;
        text-shadow: 1px 1px 1px $dark1;
        color: $dark2;
        font-family: $fontTitle;
    }

    $page-padding: 4em;

    p {
        font-size: medium;
        text-align: justify;
        text-justify: inter-word;
        padding-left: $page-padding;
        padding-right: $page-padding;
        color: $dark2;
        font-family: $fontText;
    }

    // variable 
    $rotation: -10deg;

    img {
        float: left;
        width: 50%;
        max-width: 10em;
        height: auto;
        margin: 0 2rem;
        border-radius: 10px;
        filter: grayscale(30%) contrast(1.5);

        &:hover {
            transform: rotateX($rotation*36);
            transition: transform 1s;
        }

        transition: transform 1s;
    }
}