@use '../base-colors.scss' as *;

.page {
    h1 {
        font-size: 4em;
        text-align: center;
        text-shadow: 2px 2px 4px $dark1;
        color: $dark2;
        font-family: $fontTitle;
    }


    p {
        font-size: 2em;
        text-align: justify;
        padding-left: 10%;
        padding-right: 2em;
        color: $dark2;
        font-family: $fontText;
    }

    .shoutOuts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .shoutOut {
        width: 80%;
        height: 30%;
        margin: 1%;
        background-color: $dark1;
        border-radius: 10px;
        border: 2px solid $light1;
        outline: 5px solid $dark1;
        box-shadow: 2px 2px 4px $dark1;
        min-width: 300px;

        // desktop
        @media (min-width: $forDesktop) {
            width: 25%;
        }

        &:hover {
            box-shadow: 2px 2px 4px $dark1;
            transform: scale(1.05);
            transition: transform 1s;
        }

        transition: transform 1s;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }

        .shoutOutInfo {
            h2 {
                font-size: 3em;
                text-align: center;
                color: $light4;
                font-family: $fontBold;
                font-weight: lighter;

                // desktop
                @media (min-width: $forDesktop) {
                    font-size: 1.5em;
                }
            }

            p {
                font-size: 1em;
                text-align: center;
                text-justify: inter-word;
                padding: 1em;
                color: $light3;
                font-family: $fontSans;
            }
        }

        a {
            color: $light1;
            font-family: $fontMonoText;
            text-decoration: none;
            font-size: 2rem;
            position: relative;
            margin: 0 auto;
            transition: color 1s;

            :hover {
                color: $light3;
                font-weight: bold;
            }

            :active {
                color: $light3;
                font-weight: bold;
            }

            :visited {
                color: $light3;
            }

            :focus {
                color: $light3;
            }
        }
    }

}