@use '../base-colors.scss' as *;

@keyframes TextAnimation {
    0% {
        opacity: 0;
        transform: translateY(25%) rotate(180deg) scale(0.5);
    }

    50% {
        transform: translateY(0), scale(1.1);
        opacity: 1;
    }

    100% {
        transform: translateY(0) rotate(0deg) scale(1);
    }
}

$navbarHeight: 8vh;

// NavBar css
.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    height: fit-content;

    .navbar_brand {
        animation: fadeIn 1s;
        padding: 10px;
        margin: 0 1rem;

        path {
            fill: $dark1;
            box-shadow: 0 0 1000px $light3;
            animation: TextAnimation 1.5s;
        }

        svg {
            width: 40rem;
            height: auto;

            // desktop
            @media (min-width: $forDesktop) {
                width: 40rem;
            }
        }

        //Transitions
        &:hover {
            border-radius: 10px;
        }


    }

    transition: all 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
    }
}

.navbarMenu {
    transition: all 0.3s ease-in-out;
    margin: auto 0;
    width: 100%;
    height: fit-content;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 10px;
            width: 100%;
            text-align: center;
            margin: 1px 0;
            font-family: $fontText;
            font-size: 1rem;

            // desktop
            @media (min-width: $forDesktop) {
                font-size: 2rem;
            }

            a,
            button {
                color: $dark1;
                text-decoration: none;
                // make look like a button
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
                font-weight: bold;

                &:hover,
                &:focus {
                    background-color: $dark3;
                    color: $light3  !important;
                }

                &:active {
                    background-color: $dark4;
                    color: $light4  !important;
                }

                &:visited {
                    color: $dark2;
                }
            }
        }
    }


}