@use './base-colors.scss' as *;

.container {


    background-color: $light1;
    border-radius: 10px;
    box-shadow: 0 0 2px $light2;
    width: 95%;
    height: fit-content;
    margin: 0 auto;
    padding: 1em;
    margin-top: 1em;
    min-height: 80vh;
    // desktop
    @media (min-width: 1025px) {
        width: 80%;
        
    }
}

body {
    background-color: $dark1;
}