@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Monofett&family=Orbitron&family=Press+Start+2P&family=Share+Tech&family=Share+Tech+Mono&display=swap');

$dark1 :#040c06;
$dark2 :#112318;
$dark3 :#1e3a29;
$dark4 :#305d42;
$light4 :#4d8061;
$light3 :#89a257;
$light2 :#bedc7f;
$light1 :#eeffcc;

$fontBarcode: 'Libre Barcode 128 Text', cursive;
$fontBold: 'Monofett', cursive;
$fontSans: 'Orbitron', sans-serif;
$fontTitle: 'Press Start 2P', cursive;
$fontText: 'Share Tech', sans-serif;
$fontMonoText: 'Share Tech Mono', monospace;

$forDesktop:960px;
